-- Migration to add Explore Library fields
ALTER TABLE templates ADD COLUMN IF NOT EXISTS is_explore BOOLEAN DEFAULT FALSE;
ALTER TABLE templates ADD COLUMN IF NOT EXISTS explore_grid_cols INTEGER DEFAULT 1;
ALTER TABLE templates ADD COLUMN IF NOT EXISTS explore_grid_rows INTEGER DEFAULT 1;
